@media (max-width: 416px){
    .burger_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_container.pack {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .burger {
        width: 17px;
        height: 2px;
        background: #737373;
        position: relative;
    }
    .burger:before {
        content: "";
        width: 23px;
        height: 2px;
        background: #737373;
        position: absolute;
        top: -6px;
        right: 0;
    }
    .burger:after {
        content: "";
        width: 10px;
        height: 2px;
        background: #737373;
        position: absolute;
        bottom: -6px;
        right: 0;
    }
    .container {
        max-width: 332px;
        padding: 0 42px;
    }
    .header {
        background: #F7F7F7;
        position: relative;
        top: 0;
        padding-top: 36px;
        height: 496px;
    }
    .header_nav {
        display: none;
    }
    .header_burger {
        top: 40px;
        right: 39px;
        height: 24px;
        width: 128px;
        background: none;
        display: none;
        align-items: center;
        justify-content: space-between;
    }
    .header_nav_mobile {
        display: block;
        position: relative;
        margin-top: 96px;
    }
    .header_container {
        display: block;
    }
    .header_link {
        display: block;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }
    .header_link:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .hero {
        padding: 84px 0 205px;
        margin: 0;
        height: 100%;
    }

   .hero_title {
        width: 346px;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
    }
   .hero_subtitle {
       width: 279px;
       margin: 40px;
       font-weight: 500;
       font-size: 20px;
       line-height: 30px;
       text-align: center;
       letter-spacing: 0.2px;
       color: #737373;
   }
   .btn_group {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 80px;
   }
   .sunset_btn {
          margin-bottom: 31px;
   }
   .hero_grid {
       position: relative;
       grid-template-columns: 1fr;
       grid-row-gap: 30px;
   }
   .features {
       padding: 98px 35px 70px;
   }
   .features_desc {
       width: 225px;
       background: #F3F3F3;
   }
   .features_grid {
       grid-template-columns: 1fr;
       grid-row-gap: 30px;
   }
   .practice {
       padding: 98px 40px 106px;
   }
   .practice_desc {
       width: 225px;
       margin-bottom: 75px;
   }
   .practice_grid {
       grid-template-columns: 1fr;
       grid-row-gap: 30px;
   }
   .about_title {
       width: 308px;
   }
   .about_desc {
       margin-top: 10px;
       width: 225px;
   }
   .about_row {
       display: flex;
       flex-direction: column;
   }
   .col-8 {
       width: 100%;
   }
   .col-4 {
       width: 100%;
   }
   .about_video {
       width: 100%;
       margin-bottom: 72px;
   }
   .clients {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 100%;
   }
   .clients_companies {
       height: 100%;
   }
   .clients_container {
       height: 100%;
       display: grid;
       grid-template-columns: 1fr;
       grid-row-gap: 60px;
       padding: 81px 0 85px;
   }
   .clients_card_item {
       width: 338px;
       padding: 30px 38px;
       position: relative;
       flex-direction: column;
       justify-content: center;
       bottom: 0;
   }
   .clients_card_inp {
       width: 220px;
   }
   .clients_card_title {
       margin-bottom: 30px;
       width: 259px;
       text-align: center;
   }
   .clients_cover {
       background: none;
   }
   .cover {
       padding:75px 0 130px;
   }
    .cover .section_desc {
        width: 264px;
        margin-bottom: 60px;
    }
    .cover_grid {
        height: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .footer {
        padding: 55px 0;
    }
    .footer_contact {
        padding: 0 40px;
        height: 100%;
        flex-direction: column;
    }
    .footer_contact_section .section_title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #252B42;
    }
    .footer_contact_btn {
        margin: 50px 0 40px;
    }
    .footer_info {
        height: 100%;
        padding: 55px 0;
          }
    .f_i_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding-left: 87px;
    }
    .footer_social {
        margin-top: 25px;
    }
    .footer_social .d-flex {
        height: 100%;
        flex-direction: column;
        width: 231px;
        align-items: flex-start;
    }
    .footer_social_title {
        margin-bottom: 52px;

    }
}